<div id="body">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      </div>
      <div class="col-md-4">
        <%=icon('cloud', class: 'fa-stack-2x')%>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-md-4">
        <span class="	glyphicon glyphicon-trash"></span>
      </div>
      <div class="col-md-8">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      </div>
      <div class="col-md-4">
        <span class="	glyphicon glyphicon-trash"></span>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-md-4">
        <span class="	glyphicon glyphicon-trash"></span>
      </div>
      <div class="col-md-8">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center">
    <h2>Наш каталог</h2>

    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <span><img src="https://placekitten.com/440/293" alt="1.jpg"></span></div>

      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <span><img src="https://placekitten.com/440/293" alt="1.jpg"></span></div>

      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <span><img src="https://placekitten.com/440/293" alt="1.jpg"></span></div>



      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <span><img src="https://placekitten.com/440/293" alt="1.jpg"></span></div>

      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <span><img src="https://placekitten.com/440/293" alt="1.jpg"></span></div>


      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <span><img src="https://placekitten.com/440/293" alt="1.jpg"></span></div>


      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <span><img src="https://placekitten.com/440/293" alt="1.jpg"></span></div>

      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <span><img src="https://placekitten.com/440/293" alt="1.jpg"></span></div>


      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <span><img src="https://placekitten.com/440/293" alt="1.jpg"></span></div>


      </div>
    </div>

  </div>
  </div>
