<div class="container-fluid text-left">
  <div class="row">
    <div class="col-md-12">
      <h2>Пару слов о нас</h2>
      <p>Преимущества мебельной фабрики «РИМИ»
        Если Вы хотите оформить недорого заказ на кухню в Москве, то обратите внимание на торговую марку РИМИ. Наши преимущества:

        Доступная стоимость. Мы гарантируем оптимальные цены – кухни на заказ будут стоить недорого, поскольку мы сами являемся производителями. Это означает, что у нас отсутствует наценка посредников на продукцию, благодаря чему стоимость значительно снижается.
        Итальянское качество. Разработка дизайна, выбор необходимых материалов и технологий изготовления – эти задачи решаются квалифицированными специалистами из Италии. В России выполняются производство и сборка под контролем итальянских профессионалов.
        Оптимальные сроки. Кухни на заказ в Москве изготавливаются за короткие промежутки времени. Любой, даже самый сложный гарнитур, созданный по эксклюзивному эскизу, будет выполнен в строго оговоренные с клиентом сроки.
        Разнообразие деталей. Индивидуальное изготовление кухни дает Вам возможность сделать подходящий выбор из нескольких десятков вариантов отделки фасадов. Они могут быть дополнены такими декоративными материалами, как закаленное стекло, глянцевая эмаль или алюминиевый профиль.
        Высокотехнологичное изготовление. Мы ответственно подходим к организации производственного процесса. Кухни на заказ изготавливаются на современном высокотехнологичном оборудовании с применением надежных комплектующих и материалов.
        Готовые решения. У нас Вы можете не только заказать кухню на заказ, но и выбрать уже спроектированный вариант из представленных в каталоге моделей. Мы предлагаем широкий ассортимент мебельных изделий за выгодную стоимость.</p>

    </div>

  </div>
</div>

<div class="container-fluid text-center">
  <h2>Наш каталог</h2>

  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <span><img src="https://placekitten.com/440/293"></span></div>

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <span><img src="https://placekitten.com/440/293"></span></div>

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <span><img src="https://placekitten.com/440/293"></span></div>



    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <span><img src="https://placekitten.com/440/293"></span></div>

    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <span><img src="https://placekitten.com/440/293"></span></div>


    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <span><img src="https://placekitten.com/440/293"></span></div>


    </div>
  </div>

</div>
