<div class="container">
  <!--Хедер-->
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Редактировать галерею</h1>
    </div>
  </div>
  <!--ФОРМА-->
  <div class="row">
    <div class="col-md-12">
      <%= render 'tinymce_init'%>
      <%= render 'form', gallery: @gallery %>
    </div>
  </div>
</div>