<div class="container">

  <!--Инициализация текстового редактора-->
  <%= render 'tinymce_init' %>

  <!--Заголовок-->
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Создать галерею</h1>
    </div>
  </div>

  <!--Обертка формы-->
  <div class="row">
    <div class="col-md-12">
      <!--Форма-->
      <%= render 'form', gallery: @gallery %>
    </div>
  </div>

</div>