.fa-file-pdf-o {
  color: #d90106;
}

.description-panel{
  margin-left: 10px;
  margin-right: 10px;
}


.navbar-toggle:before{
  content: none;
}
.navbar-toggle > i {
  color: white;
}
.btn-search{
  border-radius: 5px;
}
.search-form{
  min-width: 300px;
  max-width: 500px;
}
img{
  max-height:100%;
  max-width:100%;
}

.btn-examples:focus{
  color: #fff;
  background-color: #6bc748;
  border-color: #6bc748;
}
.btn-examples:hover{
  color: #fff;
  background-color: #6bc748;
  border-color: #6bc748;
}
.box{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-left: 20px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.title-box > hr{
  max-width: 400px;
}
.bg-offwhite{
  background-color: #f2f2f2;
}
.title-box > hr{
  border-color: #bbbbbb;
}

.contacts{
  padding-top: 20px;
  padding-bottom: 20px;
}
.contacts-info{
  padding-left: 20px;
}
.map-container{
  padding-right: 20px;
}

.breadcrumb{
  background-color: #f2f2f2;
}

.breadcrumbs-panel{
  padding-left: 10px;
  padding-right: 10px;
}

.panel-footer{
  background-color: #f2f2f2;
}

.news-items > .row > .col-md-12:nth-child(2n){
  background-color: #f6f6f6;
}

.news-items > .row > .col-md-12 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-box{
  background-color: #f2f2f2;
}
.preview-images.col-md-12{
  padding-left: 25px;
  padding-right: 25px;
}
.preview-images > .row{
  margin-top: 10px;
}
.preview-images > .row > .col-md-3 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.preview-image > img {
  filter: grayscale(70%);
  opacity: .5;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
}
.preview-image > img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.description {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.price{
  padding-top: 40px;
}


img{
  max-height:100%;
  max-width:100%;
}

header {
  background: image-url('header2.jpg') no-repeat;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #aaa;
  padding-top: 120px;
  padding-bottom: 150px;
}


.navbar-brand{
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
}
.navbar-brand:hover{
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
}
.primary{
  border-color: #6bc748;
  border-width: 3px;
  max-width: 200px;
  margin-bottom: 60px;
}
.icon-primary{
  color: #6bc748;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
}
.info-header{
  color: #34495e;
  font-size: 50px;
}
.info-box:hover{
  .icon-primary {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
  }
}
#info{
  padding-top: 100px;
  padding-bottom: 50px;
}
#examples{
  padding-top: 50px;
  padding-bottom: 100px;
}


.green-button{
  margin-top: 40px;
}

.btn-examples{
  background-color: #63b03d;
  border-color: #63b03d;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  color: #ffffff;
}

.example-item {
  max-width: 500px;
  margin: 0 auto;
}


.example-item-text{
  color: #000000;
}

.portfolio-hover{
  background: rgba(107, 199, 72, 0.71);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
}

.portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff;
}
.portfolio-hover:hover {
  opacity: 1;
}

.portfolio-link{
  display: block;
  position: relative;
  margin: 0 auto;
}

.imag{
  display: block;
  opacity: 1;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
}
.imag:hover {
  opacity: 1.5;
  z-index: 100;
  -webkit-transform: scale(1.3,1.3);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1.3,1.3);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
}

.navbar-custom{
  background-color: #34495e;
  border-width: 0px;
}
.navbar-nav>li>a{
  font-size: 16px;
  padding: 15px 21px;
  line-height: 23px;
  font-weight: 700;
  color: #fff;
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
}


.quoteses {
  quotes: "\201c";
  font-size: 44px;
  color: orange;
}
.bg-1{
  background: url(images/header1.jpg) no-repeat top center;
}
.mainlog{
  padding-top:15px;
  padding-bottom:25px;
}
.logot{
  min-width: 50%;
  max-width:30%;
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #dff0d8;
  font-size: 50px;
}
.logo {
  color: #dff0d8;
  font-size: 200px;
}
.pagination{
  padding-top: 25px;
}
footer {
  background-color: #555;
  color: white;
  padding: 15px;}


.col-md-4{padding:10px;}
.col-md-6{padding:10px;}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.btn {
  padding: 10px 20px;
  background-color: #3e5369;
  color: #ffffff;
  transition: .2s;
}

.btn:hover, .btn:focus {
  background-color: #2f4154;
}

#myModal .modal-header, #myModal .close, #opinionModal .modal-header, #opinionModal .close{
  background-color: #2f4154;
  color: #ffffff !important;
  text-align: center;
  font-size: 30px;
}
#myModal .modal-header, #myModal .modal-body, #opinionModal .modal-header, #opinionModal .modal-body {
  padding: 40px 50px;
}

.badge{
  background-color: red;
}
.bg-2 {
  background-color: #2f4154;
  color: #fff;

}

.bg-6{
  background-color: white;
}

.ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

ul.pagination li a.active {
  background-color:#1abc9c;
  color: white;
}
.center{
  text-align:center;
}
.right{
  float:right;
}
.bg-3{
  margin: 10px;
}

#item-images-carousel{
  height: 100%;
}

#item-images-carousel .carousel-inner{
  height: 100%;
}


#myModal .img-responsive {
  max-height: calc(100vh - 225px);
}

.gallery-hover {
  background: rgba(255, 255, 255, 0.67);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:2;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
}
.gallery-hover:hover {
  opacity: 1;
}

.gallery-hover-content{
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 57px;
  height: 57px;
  top: 50%;
  margin-top: -49px;
}

.gallery-hover-content > i {
  color: #60b141;
}

#item-images-carousel carousel-control { background-image: none}


.example-item{
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
}
.example-item:hover{
  -webkit-transform: scale(1.05,1.05);
  -moz-transform: scale(1.05,1.05);
}

.main-header{
  margin-bottom: 43px;
  font-size: 31px;
  margin-left: 16px;
  margin-top: 15px;
}

.vk {
  color: #507299;
}
.ok{
  color: #f58220;
}
.catalog-item-container, .example-item {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 0px 10px #a5a5a5;
}

.catalog-item-container > img, .example-item > img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.item-caption{
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
  color: #34495e;
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #f2f2f2;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
.catalog-gallery-container img{
  border-radius: 4px;
  box-shadow: 0px 0px 10px black;
}

.example-item-text{
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  padding: 10px 20px;
}

.new_order span.glyphicon {
  padding-right: 5px;
}
.required-star{
  color:red;
}

#order-href{
  cursor: pointer;
  background-color: #6bc748;
}
#order-href:focus{
  color: #fff;
  background-color: #72d14b;
  border-color: #72d14b;
}
#order-href:hover{
  color: #fff;
  background-color: #72d14b;
  border-color: #72d14b;
}

.price-wrapper{
  border: 3px dashed #6bc748;
  padding: 10px;
}

.catalog-gallery-container img{
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
}
.catalog-gallery-container img:hover{
  -webkit-transform: scale(1.02,1.02);
  -moz-transform: scale(1.02,1.02);
}

.ekko-lightbox .modal-dialog {
  margin: 0 auto;
}

.news-items .col-md-8,.news-items .col-sm-8,.news-items .col-xs-8{
  margin-bottom: 30px;
}