<div class="container box">
  <div class="row bg-offwhite contacts">
    <div class="col-md-12 title-box text-center">
      <hr>
      <h1>Адреса фирменных салонов фабрики Lucky-Line</h1>
      <hr>
    </div>
    <div id="address1" class="row">
      <div class="col-md-6">
        <div class="contacts-info">
          <h2>ТЦ "ФОРМАТ"</h2>
          <p>Наш адрес: <strong> МО, Мытищи, ул. Олимпийский проспект, д.29, строение 1, цокольный этаж, <br>ТЦ "ФОРМАТ" </strong></p>
          <p>
            Телефон :
            <br> <strong>+7(925)356-37-57</strong>
          </p>
          <p>Время работы:<br> <strong>с 10:00 до 21:00</strong></p>
          <p>Email:<br> <strong>lucky.line.format@gmail.com</strong></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map-container ">
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=yQqv7GUaxh8dvVbnNCw07dBTLRZiiKFr&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        </div>
      </div>
    </div>
    <div id="address2" class="row">
      <div class="col-md-6">
        <div class="contacts-info">
          <h2>ТЦ "Интерьер-Плаза"</h2>
          <p>Наш адрес: <strong>МО, г. Дзержинский, ул. Энергетиков, д. 14,<br>ТЦ "Интерьер-Плаза"</strong></p>
          <p>
            Телефон :
            <br> <strong>+7(968)954-24-81</strong>
          </p>
          <p>Время работы:<br> <strong>с 11:00 до 20:00</strong></p>
          <p>Email:<br> <strong>lucky.line.mebel@gmail.com</strong></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map-container ">
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=yYarHKQp5MF5AU_C_GbmgDJNFdh1_1vd&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        </div>
      </div>
    </div>
  </div>
</div>