<%if @news_items%>
<div id="body">
  <div class="container-fluid bg-3">
    <%@news_items.each do |news_item|%>
    <div class="media">
      <div class="media-left ">
        <%=image_tag(news_item.pictures.sample.image, class: 'media-object')%>
      </div>
      <div class="media-body ">
        <h6 class="media-heading"><%=news_item.title%></h6><br/>
        <p><span class="glyphicon glyphicon-time"></span> 10 Октября, 2016.</p>
        <p><%=news_item.text%></p><br/>
        <a class="right" href="#"><%=link_to 'Узнать больше', news_item_path(news_item)%></a>
      </div>
    </div>
    <hr/>
    <%end%>
  </div>
</div>
<%end%>