

<div class="container box bg-offwhite">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%=@news_item.title%></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
              <%=image_tag @news_item.image(:show), class: 'img-responsive'%>
      </div>
      <div class="col-md-6">
        <small class="date"><span class="glyphicon glyphicon-time"></span> <%=time_tag @news_item.created_at.to_date%></small>
        <p><%=@news_item.text%></p>
      </div>
    </div>
  </div>
</div>