<p>Categories</p>
<ol>
  <%@categories.each do |category|%>
  <li>
    <p><%=category.name%></p>
    <ol>
    <%category.subcategories.each do |subcategory|%>
          <li>
            <p><%=subcategory.name%></p>
            <ol>
            <%subcategory.items.each do |item|%>
            <li>
              <%=item.title%>
            </li>
            <%end%>
            </ol>
          </li>
      <%end%>
    </ol>
  </li>
  <%end%>
</ol>
