
<div class="container box bg-offwhite">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-header">
        <%=@item.title%>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-sm-12 col-xs-12 image-box">
      <div class="col-md-12">
        <div class="image-container">
          <div class="image">
            <%=render 'items/carousel'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 price">
      <span style="font-weight: 700;">Цены:</span>
      <p><%=@item.price.html_safe%></p>
    </div>
  </div>
  <%if @item.description != ""%>
  <div class="row description">
    <div class="col-md-12">
      <h4>Описание:</h4>
      <p><%=@item.description.html_safe%></p>
    </div>
  </div>
  <%end%>
</div>
<div tabindex="-1" class="modal fade" id="itemModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>