#body {
  max-width: 1440px;
  margin: auto;
}
.bg-1{
  background: image-url("header.jpg") no-repeat top center;
  height: 1100px;
}
.mainlog{
  padding-top:15px;
  padding-bottom:25px;
}
.logot{
  min-width: 50%;
  max-width:30%;
  padding-top: 50px;
}


a{
  color: black;
}
.row{
  padding-top: 45px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #dff0d8;
  font-size: 50px;
}
.logo {
  color: #dff0d8;
  font-size: 200px;
}
.pagination{
  padding-top: 25px;
}
footer {
  background-color: #555;
  color: white;
  padding: 15px;}

.col-md-2{padding:10px;}
.col-md-4{padding:10px;}
.col-md-6{padding:10px;}
h4{
  word-spacing: 20px;}



.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail p {
  margin-top: 15px;
  color: #555;
}

.btn {
  padding: 10px 20px;
  background-color: #2f4154;
  color: #ffffff;
  border-radius: 0;
  transition: .2s;
}

.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #2f4154;
  color: #000;
}
.modal-header, h4, .close {
  background-color: #2f4154;
  color: #ffffff !important;
  text-align: center;
  font-size: 30px;
}

.modal-header, .modal-body {
  padding: 40px 50px;
}
.badge{
  background-color: red;
}
.bg-2 {
  background-color: #2f4154;
  color: #fff;

}
.col-md-3{padding-bottom:25px;}

.bg-6{
  background-color:rgb(228, 234, 232) ;
}
.breadcrumb{
  background-color:rgb(228, 234, 232) ;
}
body{
  background-color:rgb(228, 234, 232) ;
}
.thumbnail{
  background-color:rgb(228, 234, 232) ;
}