body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
}
.header-word{
  color: black;
}
.bg-1{
  background: image-url("header.jpg") no-repeat top center;
  height: 450px;
}
.logot{
  padding-top:80px
}
a{
  color: black;
}
.navbar {
  margin-bottom: 20px;
  border-radius: 0;
}
.row{
  padding-top: 15px;
  text-align: center;
}
.bg-1 {
  background-color: #177245;
  color: #ffffff;
  padding-top: 50px;
}
.bg-2 {
  background-color: #177245;
  color: #ffffff;
  padding-top: 15px;
}
.bg-3 {
  background-color: #ffffff;
  color: #555555;
}
.bg-4 {
  background-color: #ffffff;
  color: #555555;
  padding-top: 120px;
  padding-bottom: 120px;
}
.bg-5 {
  background-color: #ffffff;
  color: #555555;
  padding-top: 50px;
  padding-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}
.breadcrumb{
  font:  20px Lato, sans-serif;
  background-color: white;
}
footer {
  background: #dff0d8;
  color: #9d9d9d;
  font-size: 11px;
}

#footer {
  max-width: 960px;
  margin: auto;
  padding: 10px 0;
  height: 115px;
}
footer h3 {
  font: 14px 'Oswald', sans-serif;
  color: #555555;
  border-bottom: 1px solid #919191;
  margin: 0 0 10px 0;
}

#News time a {
  color: #555555;
}

footer p {
  margin: 5px 0;
}

#News {
  float: left;
  width: 300px;
}

#News p {
  padding-right: 15px;
}
footer a {
  color: #555555;
}

#SiteNav {
  width: 150px;
  float: left;
  margin-left: 20px;
  padding-right: 15px;
}

#SiteNav div {
  display: inline-block;
}

#SiteNav div + div {
  margin-left: 40px;
}

#SiteNav a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 5px;
}

#SiteNav a:hover {
  text-decoration: underline;
}
#footer-logo {
  float: right;
  margin-top: 20px;
  font-size: 10px;
  text-align: right;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #dff0d8;
  font-size: 50px;
}
.logo {
  color: #dff0d8;
  font-size: 200px;
}
