


<% if @categories %>
<div id="body">

  <div class="container-fluid">
    <div class="row content">

      <ol class="breadcrumb text-left">
        <li class="breadcrumb-item"><%=link_to 'Главная', root_path%></li>
        <span aria-hidden="true" class="breadcrumb-sep">•</span>
        <li class="breadcrumb-item">Каталог</li>
      </ol>
      <div class="col-md-12">
        <% @categories.each do |category| %>
        <div class="col-md-4 example-item text-center">
          <%= link_to subcategories_path(category), class: 'portfolio-link' do%>
            <!--<img src="https://placebear.com/485/333" class="img-responsive">-->
              <%=image_tag category.subcategories.sample.items.sample.pictures.sample.image, class: 'img-responsive' %>
          <%end%>
          <div class="">
            <div class="">
              <div class="panel-footer"><%=category.name%></div>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<% else %>
    <p>There is no categories, bro</p>
<% end %>