<% if @categories && @categories.size != 0 %>
    <%=render 'categories/subs'%>
<% else %>
    <% if @items && @items.size != 0 %>
        <%=render 'categories/items'%>
    <% else %>
        <p>There is no items, bro</p>
    <% end %>
<% end %>

