<div id="header">
  <div class="container-fluid bg-1 text-center">
    <div>
      <%=image_tag('logot.jpg', class:'logot')%>
    </div>
    <div class="header-word">
      <h3>Студия Кухни</h3>
      <p>Мебель для дома и дачи лучшего качества</p>
    </div>
  </div>
</div>