<header>
  <div class="container">
    <div class="logotype">
      <%=image_tag('g74.png', class:'logot')%>
    </div>
    <div class="green-button"><a href="#info" class="btn-examples page-scroll">Узнать о нас больше</a></div>
  </div>
</header>