<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .order-notice-header{
        color: green;
      }
      .order-notice-table {
        border-collapse: collapse;
      }
      td{
        border: 1px solid green;
        padding: 5px 15px;
      }
      .attachment-image{
        width: 500px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
